<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{activity}} Time Tracker</h1>

            <div id="add-hours" class="card">

                <h2 class="card-header">Add Records</h2>
                <div class="card-body">
                
                    <!-- use v-if to show this if there are validation errors -->
                    <div class="alert alert-danger" v-if="errors.length > 0">
                        <!-- show a list of validation errors from form -->
                        <ul>
                            <li v-for="error in errors">{{error}}</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <!-- display name of activity in the label -->
                        <label class="form-label" for="date">What date did you do this activity?</label>
                        <!-- use v-model to connect this input to dateString data -->
                        <input id="date" class="form-control" type="date" v-model="dateString">
                        <small id="date-help" class="form-text text-muted">
                            Date must be today or in the past.
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="hours">How many hours did you practice for?</label>
                        <!-- use v-model to connect this input to hours data -->
                        <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                        <small id="hours-help" class="form-text text-muted">
                            Enter a number of hours, more than 0, up to a maximum of 24
                        </small>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="type">What type?</label>
                        <!-- Create select element, use v-model to connect to the types -->
                        <select class="form-control" v-model="type">
                            <option v-for="activityType in types">{{activityType}}</option>
                        </select>

                        <!-- Use v-for to create option elements, one for each type -->
                    </div>

                    <div class="form-label pb-2">
                        What media?
                    </div> 

                    <div class="form-check-inline">
                        <!-- v-model media -->
                        <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                        <label class="form-check-label" for="media1">Traditional</label>
                    </div>

                    <div class="form-check-inline">
                        <!-- v-model media -->
                        <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                        <label class="form-check-label" for="media2">Digital</label>
                    </div>

                    <div class="my-2">
                        <input name="completedCheckBox" type="checkbox" v-model="completed">
                        <label for="completedCheckBox" class="mx-2">Completed?</label>
                    </div>

                    <div>
                        <p>Any notes on project?</p>
                        <textarea id="notes" v-model="note"></textarea>
                    <div>
                        <!-- Add v-on:click -->
                        <button class="btn btn-primary mt-4" type="button" v-on:click="submit">Add record</button>
                    </div>
                    
                </div>
            </div>

            <div class="card">
                <h2 class="card-header">Activity Records</h2>

                <div class="card-body">

                    <!-- Display total records counter -->
                    <h3>{{totalRecordsMessage}}</h3>

                    <!-- Table to hold record information -->
                    <div id="records">
                        <table class="table table-hover">
                            <tr>
                                <th>Date</th>
                                <th>How many hours?</th>
                                <th>Type</th>
                                <th>Media</th>
                                <th>Complete?</th>
                                <th>Notes</th>
                            </tr>

                            <tr v-for="record in activityRecords" v-bind:class="{
                                sketchStyle: record.type == 'Sketching',
                                drawStyle: record.type == 'Drawing',
                                paintStyle: record.type == 'Painting'}">
                                <td>{{shortDate(record.date)}}</td>
                                <td>{{record.hours}}</td>
                                <td>{{record.type}}</td>
                                <td>{{record.medium}}</td>
                                <td v-if="record.completed">Completed!</td>  
                                <td v-else>Not Completed</td> 
                                <td v-if="record.note.length > 40">{{noteDisplay(record.note)}}</td>
                                <td v-else>{{record.note}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Summary of hours practiced -->
            <div class="card">
                <h2 class="card-header">Summary</h2>

                <div class="card-body">

                    <!-- Add computed property to calculate the total hours -->
                    <p>{{totalHoursMessage}}</p>

                    <!-- Challenge question! Display a list of the total hours for each type.  -->
            
                </div>
            </div>
        </div>
    </div>


    <script>

        // Create app
        let app = Vue.createApp({

            data() { // Enter default data into app configuration
                return {
                    activity: 'Art Practice', // Label
                    activityRecords: [], // List of records including date, hours practiced, type of art, and medium used
                    dateString: '',
                    hours: 1,
                    type: 'Sketching',
                    medium: 'Traditional',
                    types: ['Sketching', 'Drawing', 'Painting'],
                    completed: false, // Is art project finished?
                    note: '',
                    errors: [] // Catches error messages to be displayed for validation
                }
            },
            methods: {
                submit() { // Method to submit (add) record to records 

                    this.errors = [] // Clear errors at beginning to restart

                    let date = new Date(this.dateString) // Create date using date entered by user

                    // Below - input validation. If invalid data is entered/is null, pushes message to errors list

                    // Validation to ensure that there is a valid date
                    if (!this.dateString || this.dateString == 'Invalid Date' || date > new Date()) {
                        this.errors.push('Select a valid date, today or in the past')
                    }

                    // Ensure that hours practiced are between 0-24
                    if (this.hours <= 0 || this.hours > 24) {
                        this.errors.push('The number of hours must be greater than 0 and less than 24')
                    }

                    // Ensure type is selected
                    if (!this.type) {
                        this.errors.push('Select a type')
                    }

                    // Ensure medium is selected
                    if (!this.medium) {
                        this.errors.push('Select a medium')
                    }

                    // Add record if all data is valid
                    if (this.errors.length === 0) {

                        let record = { // Create record with user-input
                        date: date,
                        hours: this.hours,
                        type: this.type,
                        medium: this.medium,
                        completed: this.completed,
                        note: this.note
                    }

                    this.activityRecords.push(record) // Add record

                    this.activityRecords.sort(function (r1, r2) { // Sort records by date
                        return r1.date.getTime() - r2.date.getTime()
                    })
                    }        

                },
                shortDate(date) { // Method to convert date into a more readable format
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                },
                noteDisplay(note) { // If length of note is greater than 40, shorten an add '...'
                    let shortenedNote = note.substring(0, 40) + '...'
                    return shortenedNote
                }
            },
            computed: { 
                totalRecordsMessage() { // Computed property will calculate number of records and display message

                    let numberOfRecords = this.activityRecords.length

                    if (numberOfRecords == 1) { // Singular form of word if there is only 1 record
                        return '1 record'
                    } else {
                        return `${numberOfRecords} records` //  Plural if 0 or more than one record
                    }

                },
                totalHoursMessage() { // Computed property will calculate total number of hours practiced
                    
                    let total = 0 

                    this.activityRecords.forEach(function (record) {
                        total = total + record.hours // For each activity record, count number of hours and add to total
                    })
                    if (total == 1) { // Singular if only 1 hour of practice
                        return 'You have practiced a total of 1 hour'
                    } else {
                        return `You have practiced a total of ${total} hours` // Plural if 0 or more than 1 hour of practice
                    }
                }
            }
        })

        app.mount('#app') // Mount app to app div

    </script>

</body>

</html>